<ion-header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</ion-header>


<ion-content class="body">
    <div class="content_container">

        <div [ngStyle]="{display:  navstatus != true ? 'block' : 'none'}" class="content">


            <div class="title_container">
                <h1 class="title">Get In Touch</h1>
                <div class="subtitle">If you're searching for talented tech minds who are dedicated to their work, we
                    are a perfect fit.
                    We are a dynamic software development company based in Malaysia.</div>
            </div>

            <!-- <div *ngIf="widther() < 960" style="display: flex; justify-content:center;">
                <img src="../../assets/icon/contact_image-removebg-preview.png" style="width:70%;" />
            </div> -->

            <!-- <div style="width: 100% ; height: 600px;" id="map"></div> -->

            <div class="formnmap">

                <!-- <img src="../../assets/icon/googlemap.png" class="map" /> -->

                <div style="width: 100%; background-color:white; height: 2px;"> </div>

                <div class="imagenform">

                    <div *ngIf="widther() > 960" style="display: flex; justify-content:center; width: 60%;">
                        <div style="width: 100% ; height: 520px; border-radius: 15px;" id="map" class="map">
                        </div>
                    </div>


                    <div style="display: flex; justify-content:center" class="outform">


                        <div class="form">
                            <div style="text-align: center; padding: 20px 0px;">

                                <h2 style="padding: 5px 0px; font-size: 22px;">We would love to hear from you. </h2>
                                <p style="font-size: 13px ;">Let us meet and you may judge for yourself if we are worth your time and money</p>
                            </div>

                            <div class="input">
                                <ion-input class="input-box" placeholder="Enter Your Name"></ion-input>
                            </div>

                            <div class="input">
                                <ion-input class="input-box2" placeholder="Enter Your Phone Number"></ion-input>
                            </div>

                            <div class="input">
                                <ion-input class="input-box3" placeholder="Enter Your Email Address"></ion-input>
                            </div>

                            <div class="input">
                                <ion-input class="input-box4" placeholder="Enter Your Subject"></ion-input>
                            </div>

                            <div>
                                <textarea class="textareabox" placeholder="Tell us a little about your idea"
                                    rows="5"></textarea>
                            </div>


                            <div class="submit_btn_box">
                                <div class="submit_btn">Get In Touch</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer_container">



                <div style="display: flex; flex-direction:column; justify-content: center; align-items: center; padding-bottom: 60px;">

                    <div class="logo_container" style="width: 100%; display: flex; align-items: center; padding-bottom: 60px;">
                        <img src="../../assets/icon/codebentologo.png" class="logo">
                    </div>
                    
                    <div class="infor_container">

                    <div style="width: 13%;"></div>

                    <div class="infor" style="width: 25%;">


                        <div style="font-size: 16px; display: flex; padding-top: 10px; padding-bottom: 15px;">CodeBento
                            Sdn Bhd
                        </div>


                        <div class="infor_box" style="padding-bottom:5px;">
                            <!-- <ion-icon name="map-outline" class="infor_icon"></ion-icon> -->
                            <img src="../../assets/contact_img/location-outline2.png"
                                style="width: 26px; height: 26px; margin-right: 10px; " />
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">F-3A-16, IOI Boulevard, Jalan
                                Kenari 5, Bandar Puchong Jaya, 47100 Puchong, Selangor
                                Malaysia.</div>
                        </div>

                        <div class="infor_box" style="padding-bottom:5px;">
                            <ion-icon name="mail-outline" class="infor_icon" style="color: black;"></ion-icon>
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Emai@gmail.com</div>
                        </div>

                        <div class="infor_box" style="padding-bottom:5px;">
                            <ion-icon name="phone-portrait-outline" class="infor_icon" style="color: black;"></ion-icon>
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">+60123456789</div>
                        </div>

                        <div class="infor_box" style="padding-bottom:5px;">
                            <ion-icon name="time-outline" class="infor_icon" style="color: black;"></ion-icon>
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Working hours: Mon - Fri  10:30 - 19:30h</div>
                        </div>

                        <!-- <div class="infor_box" style="padding-bottom:5px;">
                            <img src="../../assets/contact_img/facebook-outline2.svg" class="infor_icon"
                                style="width: 36px; height:36px" />
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">
                                https://www.facebook.com/codebento/</div>
                        </div>

                        <div class="infor_box" style="padding-bottom:5px;">
                            <ion-icon name="logo-instagram" class="infor_icon" style="color: black; font-size: 30px;"></ion-icon>
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px; word-break: break-all;">
                                https://www.instagram.com/codebentomy/</div>
                        </div>

                        <div class="infor_box" style="padding-bottom:5px;">
                            <ion-icon name="logo-whatsapp" class="infor_icon" style="color: black;"></ion-icon>
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">0123456789</div>
                        </div> -->
                    </div>

                    <div style="width:5%;"></div>

                    <div class="infor" style="width: 30%;">
                    
                        <div style="font-size: 16px; display: flex; padding-top: 10px; padding-bottom: 15px;">Social Media
                        </div>

                        <div class="infor_box" style="padding-bottom:5px;">
                            <img src="../../assets/contact_img/facebook-outline2.svg" class="infor_icon"
                                style="width: 36px; height:36px" />
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">
                                https://www.facebook.com/codebento/</div>
                        </div>

                        <div class="infor_box" style="padding-bottom:5px;">
                            <ion-icon name="logo-instagram" class="infor_icon" style="color: black; "></ion-icon>
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px; word-break: break-all;">
                                https://www.instagram.com/codebentomy/</div>
                        </div>

                        <div class="infor_box" style="padding-bottom:5px;">
                            <ion-icon name="logo-whatsapp" class="infor_icon" style="color: black;"></ion-icon>
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">+60123456789</div>
                        </div>


                    </div>

                    <div style="width:3%;"></div>

                    <div style="width: 16%;">
                        <div style="font-size: 16px; display: flex; padding-top: 10px; padding-bottom: 15px;">Our
                            Services
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">

                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">IT Consulting</div>
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">

                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Website Development</div>
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">

                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Mobile App Development</div>
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">

                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">UX/UI Design</div>
                        </div>
                    </div>

                    <div style="width:3%;"></div>   

                    <div style="width: 11%;">
                        <div style="font-size: 16px; display: flex; padding-top: 10px; padding-bottom: 15px;">Menu
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">

                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Home</div>
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">
                            <!-- <ion-icon name="caret-forward-outline"></ion-icon> -->
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;"> About US</div>
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">
                            <!-- <ion-icon name="caret-forward-outline"></ion-icon> -->
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Services</div>
                        </div>
                        <!-- <div class="infor_box" style="padding-bottom:10px;">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Team</div>
                        </div> -->
                        <div class="infor_box" style="padding-bottom:10px;">
                            <!-- <ion-icon name="caret-forward-outline"></ion-icon> -->
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Work</div>
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">
                            <!-- <ion-icon name="caret-forward-outline"></ion-icon> -->
                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Contact</div>
                        </div>
                    </div>

                    <div style="width:13%;"></div>


                    <!-- <div style="width: 13%; display: flex; justify-content: flex-end;">
                        <img src="../../assets/gif/people_outline.gif"
                            style="width: 225px ; height: 225px; border-radius: 15px; object-fit: cover;" />
                    </div> -->

                   
                    </div>
                </div>


                <div class="copyright_box">
                    <div>2022 Copyright © CodeBento Sdn Bhd. All Rights Reserved.</div>
                </div>

            </div>
        </div>

        <!-- navigationbar -->

        <div [ngStyle]="{'width': widther() < 960 ? '100%' : '95%' , 'height': widther() < 1080 ? '100vh' : '100%' , 'padding': widther() < 960 ? '60px 20px' : '60px 50px 60px 150px', 
            display:  navstatus == true ? 'block' : 'none'   }"
            style="background-color: black ; transition: all 0.5s ease-in-out; color: white;">
            <div style="display: flex; flex-direction:column;">
                <div style="display:flex; justify-content:space-between; align-items: center; ">
                    <div style="width: 40%;">

                        <div class="navtitle1" style="position: relative; display: flex; justify-content: flex-start;">
                            <div (mouseover)="contacthomestatus = true" (mouseout)="contacthomestatus = false"
                                class="nav" id="contactnav" style="padding: 0px; margin-left: 20px;"
                                (click)="selecttab('home')"
                                [ngClass]="contacthomestatus == true ? 'navtitle0' : 'title0'"
                                [ngStyle]="{'font-size': widther() < 960 ? '60px' : '65px'}">Home</div>
                            <div (mouseover)="contacthomestatus = true" (mouseout)="contacthomestatus = false"
                                [ngClass]="contacthomestatus == true ? 'underlinedcontacthome' : 'underlined'"
                                style="position: absolute; bottom: 15px;"> </div>
                        </div>

                        <div class="navtitle2" style="position: relative; display: flex; justify-content: flex-start;">
                            <div (mouseover)="contactservicesstatus = true" (mouseout)="contactservicesstatus = false"
                                class="nav" id="contactnav" style="padding: 0px; margin-left: 20px;"
                                (click)="selecttab('services')"
                                [ngClass]="contactservicesstatus == true ? 'navtitle0' : 'title0'"
                                [ngStyle]="{'font-size': widther() < 960 ? '60px' : '65px'}">Services</div>
                            <div (mouseover)="contactservicesstatus = true" (mouseout)="contactservicesstatus = false"
                                [ngClass]="contactservicesstatus == true ? 'underlinedcontactservices' : 'underlined'"
                                style="position: absolute; bottom: 15px;"> </div>
                        </div>

                        <div class="navtitle3" style="position: relative; display: flex; justify-content: flex-start;">
                            <div (mouseover)="contactaboutstatus = true" (mouseout)="contactaboutstatus = false"
                                class="nav" id="contactnav" style="padding: 0px; margin-left: 20px;"
                                (click)="selecttab('about')"
                                [ngClass]="contactaboutstatus == true ? 'navtitle0' : 'title0'"
                                [ngStyle]="{'font-size': widther() < 960 ? '60px' : '65px'}">About</div>
                            <div (mouseover)="contactaboutstatus = true" (mouseout)="contactaboutstatus = false"
                                [ngClass]="contactaboutstatus == true ? 'underlinedcontactabout' : 'underlined'"
                                style="position: absolute;bottom: 15px;"> </div>
                        </div>

                        <!-- <div class="navtitle4" style="position: relative; display: flex; justify-content: flex-start;">
                            <div (mouseover)="contactteamstatus = true" (mouseout)="contactteamstatus = false"
                                class="nav" id="contactnav" style="padding: 0px; margin-left: 20px;"
                                (click)="selecttab('contact')"
                                [ngClass]="contactteamstatus == true ? 'navtitle0' : 'title0'"
                                [ngStyle]="{'font-size': widther() < 960 ? '60px' : '65px'}">Team</div>
                            <div (mouseover)="contactteamstatus = true" (mouseout)="contactteamstatus = false"
                                [ngClass]="contactteamstatus == true ? 'underlinedcontactteam' : 'underlined'"
                                style="position: absolute; bottom: 15px;"> </div>
                        </div> -->

                        <div class="navtitle5" style="position: relative; display: flex; justify-content: flex-start;">
                            <div (mouseover)="contactworkstatus = true" (mouseout)="contactworkstatus = false"
                                class="nav" id="contactnav" style="padding: 0px; margin-left: 20px;"
                                (click)="selecttab('contact')"
                                [ngClass]="contactworkstatus == true ? 'navtitle0' : 'title0'"
                                [ngStyle]="{'font-size': widther() < 960 ? '60px' : '65px'}">Work</div>
                            <div (mouseover)="contactworkstatus = true" (mouseout)="contactworkstatus = false"
                                [ngClass]="contactworkstatus == true ? 'underlinedcontactwork' : 'underlined'"
                                style="position: absolute; bottom: 15px;"> </div>
                        </div>

                        <div class="navtitle6" style="position: relative; display: flex; justify-content: flex-start;">
                            <div (mouseover)="contactcontactstatus = true" (mouseout)="contactcontactstatus = false"
                                class="nav" id="contactnav" style="padding: 0px; margin-left: 20px;"
                                (click)="selecttab('contact')"
                                [ngClass]="contactcontactstatus == true ? 'navtitle0' : 'title0'"
                                [ngStyle]="{'font-size': widther() < 960 ? '60px' : '65px'}">Contact</div>
                            <div (mouseover)="contactcontactstatus = true" (mouseout)="contactcontactstatus = false"
                                [ngClass]="contactcontactstatus == true ? 'underlinedcontactcontact' : 'underlined'"
                                style="position: absolute; bottom: 15px;"> </div>
                        </div>

                    </div>

                    <div style="color: white; width: 35%;">

                        <div class="infor">


                            <div style="font-size: 16px; display: flex; padding-top: 10px; padding-bottom: 15px;">
                                CodeBento Sdn Bhd
                            </div>


                            <div class="infor_box" style="padding-bottom:5px;">

                                <img src="../../assets/contact_img/address_0804.png"
                                    style="width: 26px; height: 26px; margin-right: 10px; " />
                                <div style="color: rgb(153, 153, 153) ; font-size: 14px;">F-3A-16, IOI Boulevard, Jalan
                                    Kenari 5, Bandar Puchong Jaya, 47100 Puchong, Selangor
                                    Malaysia.</div>
                            </div>

                            <div class="infor_box" style="padding-bottom:5px;">
                                <ion-icon name="mail-outline" class="infor_icon" style="color: white;"></ion-icon>
                                <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Emai@gmail.com</div>
                            </div>

                            <div class="infor_box" style="padding-bottom:5px;">
                                <ion-icon name="phone-portrait-outline" class="infor_icon" style="color: white;">
                                </ion-icon>
                                <div style="color: rgb(153, 153, 153) ; font-size: 14px;">0123456789</div>
                            </div>

                            <!-- <div class="infor_box" style="padding-bottom:5px;">
                        <img src="../../assets/contact_img/facebook-outline2.svg" class="infor_icon" style="width: 36px; height:36px"/>
                        <div style="color: rgb(153, 153, 153) ; font-size: 14px;">https://www.facebook.com/codebento/</div>
                    </div>

                    <div class="infor_box" style="padding-bottom:5px;">
                        <ion-icon name="logo-instagram" class="infor_icon" style="color: white;"></ion-icon>
                        <div style="color: rgb(153, 153, 153) ; font-size: 14px;">https://www.instagram.com/codebentomy/</div>
                    </div>

                    <div class="infor_box" style="padding-bottom:5px;">
                        <ion-icon name="logo-whatsapp" class="infor_icon" style="color: white;"></ion-icon>
                        <div style="color: rgb(153, 153, 153) ; font-size: 14px;">0123456789</div>
                    </div> -->

                        </div>

                    </div>


                    <div style="width: 25%;">
                        <div style="font-size: 16px; display: flex; padding-top: 10px; padding-bottom: 15px;">Our
                            Services
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">

                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">IT Consulting</div>
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">

                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Website Development</div>
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">

                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">Mobile App Development</div>
                        </div>
                        <div class="infor_box" style="padding-bottom:10px;">

                            <div style="color: rgb(153, 153, 153) ; font-size: 14px;">UX/UI Design</div>
                        </div>
                    </div>


                </div>
                <div style="display:flex; justify-content: space-between; margin: 100px 0px 0px 0px">
                    <div>
                        <div>2022 Copyright © CodeBento Sdn Bhd. All Rights Reserved.</div>
                    </div>

                    <div style="display: flex; ">

                        <ion-icon name="logo-facebook" class="infor_icon" style="color: white;"></ion-icon>

                        <ion-icon name="logo-instagram" class="infor_icon" style="color: white;"></ion-icon>

                        <ion-icon name="logo-whatsapp" class="infor_icon" style="color: white;"></ion-icon>


                    </div>
                  
                </div>
            </div>
        </div>

        <div class="navbar_container">
            <div>

                <div [ngClass]="navstatus == true ? 'menu2' : 'menu'" (click)="callmenu()"
                    style="display: flex; flex-direction:column; align-items: center; padding: 20px 10px; cursor: pointer; min-width: 100%; max-width: 100%;">
                    <span [ngClass]="navstatus == true ? 'nav_item2' : 'nav_item' "></span>
                    <span [ngClass]="navstatus == true ? 'nav_item2' : 'nav_item' "></span>
                    <span [ngClass]="navstatus == true ? 'nav_item2' : 'nav_item' "></span>
                </div>

            </div>
        </div>

    </div>

</ion-content>